/*layout*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'nanumsquare';
}


.content-container .title-container{
  width: 100%;
  max-width: 480px;
  margin-left: 30px;
}
.accordion-wrap {
  width: 100%;
  max-width: 1000px;
  color: #000;
}

.accordion-header {
  background: #fff;
  border-top: 4px solid #6E6E6E;
  border-left: 1px solid #6E6E6E;
  border-right: 1px solid #6E6E6E;
   border-bottom: 1px solid #6E6E6E;
  padding: 14px 0;
}

.accordion-header .container {
  display: flex;
  align-items: flex-start;
}

.accordion-header h4 {
  letter-spacing: 1.2px;
  font-weight: 600;
}

.accordion-header span {
  cursor: pointer;
  margin-left: 40px;
}

.accordion-content {
  display: flex;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.accordion-content.show{
  height: auto;
  padding: 30px 50px 70px 50px;
  background-color: #eee;
  background-size: 100px auto;
  visibility: visible;
  opacity: 1;
  text-align: left;

}

.accordion-content p {
  font-size: 15px;
  line-height: 1.6;
}
