@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);


/*layout*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'nanumsquare';
}

.mainview-wrap{width: 1200px; height: 100%; position: relative; margin: 0 auto;}
.mainview-wrap h2{font-size: 50px; text-align: center; color: black; margin-bottom: 50px; margin-top: 50px;}
/*Banner*/
.banner{width: 100%; height: 350px; margin: 30px auto;}
.banner div{width: 650px; height: 100%; background: #eee; margin: 0 auto;}
.banner div span{display: block; padding-top: 150px;}
/*best item*/
.bestitem{width: 100%; height: 470px; overflow: hidden; margin: 0 auto;}
.mainview-wrap button{width: 110px; height: 40px; background: black; border-radius: 5px; margin-top: 10px; color: white;}
