@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);


/*layout*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'nanumsquare';
}


/*SupportPage*/
.conbox{width: 800px; margin-top: 80px; height: 100%; margin: auto;}
.conbox .title{width: 800px; margin-top: 80px; position: relative;}
.conbox .title h2{font-size: 23px; font-weight: bold; text-align: left;}
.conbox .title p{font-size: 15px; text-align: left; margin-top: 10px; color: #848484;}
.conbox .title span{font-weight: bold; color: red; font-size: 17px;}
.conbox .title button{position: absolute; right:0; margin: -60px 30px 0 0; color: #fff; background: black; border-radius: 5px; padding: 7px;}
.content_wrap{width: 800px; margin-top: 50px;}

/*nav*/
.nav{border: solid 1px #848484; max-width: 1000px; text-align: left; padding: 20px;}
.tit_faq{color: black; position: relative;}
.tit_faq strong{display: block; font-size: 23px; margin-bottom: 20px;}
.tit_faq ul{}
.tit_faq ul li{display: inline-block; color: #848484; font-size: 16px; font-weight: bold; margin-right: 30px; cursor: pointer;}
